<div class="p-4 w-full">
  <div class="flex items-center justify-between">
    <h2 mat-dialog-title>
      {{ data ? "Edit User" : "Add User" }}
    </h2>
    <span
      class="material-symbols-outlined absolute top-4 right-4 cursor-pointer"
      (click)="close()"
      >close</span
    >
  </div>

  <div mat-dialog-content class="grid grid-cols-12 gap-4 border-b pb-4">
    <input
      disabled
      placeholder="User ID *"
      class="col-span-12 border p-2 rounded"
      [(ngModel)]="userId"
    />

    <input
      placeholder="First Name *"
      class="col-span-6 border p-2 rounded"
      [(ngModel)]="firstName"
    />
    <input
      placeholder="Last Name *"
      class="col-span-6 border p-2 rounded"
      [(ngModel)]="lastName"
    />

    <input
      placeholder="Email *"
      class="col-span-4 border p-2 rounded"
      [(ngModel)]="email"
    />
    <input
      placeholder="Mobile No"
      class="col-span-4 border p-2 rounded"
      [(ngModel)]="phone"
    />
    <select class="col-span-4 border p-2 rounded" [(ngModel)]="roleId">
      <option value="" disabled>Select Role Type *</option>
      <option *ngFor="let r of roles" [value]="r.roleId">
        {{ r.roleName }}
      </option>
    </select>

    <input
      placeholder="Username *"
      class="col-span-4 border p-2 rounded"
      [(ngModel)]="username"
    />
    <ng-container *ngIf="!data">
      <input
        placeholder="Password *"
        type="password"
        class="col-span-4 border p-2 rounded"
        [(ngModel)]="password"
      />

      <input
        placeholder="Confirm Password *"
        type="password"
        class="col-span-4 border p-2 rounded"
        [(ngModel)]="confirmPassword"
      />
    </ng-container>
  </div>

  <div mat-dialog-actions class="flex justify-end gap-2 mt-4">
    <button
      (click)="submit()"
      class="w-24 text-center text-sm p-2 rounded-md bg-blue-500 text-white"
    >
      {{ data ? "Edit User" : "Add User" }}
    </button>
    <button
      (click)="close()"
      class="w-24 text-center text-sm p-2 rounded-md text-gray-700"
    >
      Cancel
    </button>
  </div>
</div>
