<div class="p-8 w-full">
  <div class="flex items-center justify-between gap-4">
    <div>
      <p class="text-xl font-medium mb-2">Hello, Aubaib</p>
      <a class="font-thin">Have a nice day</a>
    </div>
    <div class="flex items-center gap-4">
      <span class="material-symbols-outlined"> notifications_unread </span>
      <span class="text-4xl text-gray-300">|</span>
      <div class="flex items-center gap-4 p-2">
        <span
          class="bg-gray-200 w-12 h-12 rounded-full flex items-center justify-center text-gray-500"
        >
          <span class="material-symbols-outlined"> person </span>
        </span>
        <div>
          <p class="text-sm font-medium">Lekan Okeowo</p>
          <a class="text-xs font-thin">Admin</a>
        </div>
        <span class="material-symbols-outlined"> keyboard_arrow_down </span>
      </div>
    </div>
  </div>
</div>
