<div class="px-6 w-full">
  <p class="text-2xl p-2 font-semibold text-blue-600">Users Dashboard</p>

  <div class="flex flex-row items-center gap-4 mb-6">
    <div class="bg-white rounded-xl p-2 flex items-center gap-4 flex-1">
      <span class="material-symbols-outlined text-gray-400">search</span>
      <input
        type="text"
        placeholder="Search"
        class="w-full outline-none"
        [(ngModel)]="search"
        (keyup)="onSearch()"
      />
    </div>

    <button
      (click)="openAddUser()"
      class="p-2 rounded-md bg-blue-500 text-sm text-white"
    >
      Add User +
    </button>

    <select
      class="bg-transparent p-2 outline-none"
      [(ngModel)]="orderBy"
      (change)="loadUsers()"
    >
      <option value="" disabled selected>Sort By</option>
      <option *ngFor="let option of sort_by" [value]="option.value">
        {{ option.viewValue }}
      </option>
    </select>

    <select class="bg-transparent p-2 outline-none">
      <option value="" disabled selected>Saved search</option>
      <option *ngFor="let option of sort_by" [value]="option.value">
        {{ option.viewValue }}
      </option>
    </select>

    <span class="material-symbols-outlined">tune</span>
  </div>

  <div class="bg-white rounded-xl w-full">
    <div class="text-lg font-semibold p-4 m-0">List Users</div>

    <div
      class="grid grid-cols-12 bg-gray-200 text-gray-400 text-sm font-semibold p-4"
    >
      <div class="col-span-6">Name</div>
      <div class="col-span-2">Create Date</div>
      <div class="col-span-3">Role</div>
      <div class="col-span-1 text-center">Action</div>
    </div>

    <div
      *ngFor="let user of users"
      class="grid grid-cols-12 p-4 border-b items-center"
    >
      <div class="col-span-6 px-6 flex items-center justify-between">
        <div class="">
          <p class="font-medium m-0">
            {{ user.firstName }} {{ user.lastName }}
          </p>
          <span class="text-sm font-thin text-gray-400">{{ user.email }}</span>
        </div>
        <div class="px-12">
          <span
            class="inline-block w-28 text-center text-xs font-thin bg-blue-500 p-1 px-2 rounded-md text-white"
          >
            {{ user.role.roleName }}
          </span>
        </div>
      </div>
      <div class="col-span-2">{{ user.dateCreate | date: "dd MMM, yyyy" }}</div>
      <div class="col-span-3">{{ user.role.roleName }}</div>
      <div
        class="col-span-1 text-center gap-2 flex items-center justify-center"
      >
        <span
          class="material-symbols-outlined text-gray-400 cursor-pointer hover:text-yellow-500"
          (click)="openEditUser(user)"
        >
          border_color
        </span>
        <span
          class="material-symbols-outlined text-gray-400 cursor-pointer hover:text-red-500"
          (click)="deleteUser(user)"
        >
          delete
        </span>
      </div>
    </div>
  </div>

  <footer class="flex justify-center items-center bg-transparent">
    <mat-paginator
      [length]="total"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="onPageChange($event)"
      aria-label="Select page"
    >
    </mat-paginator>
  </footer>
</div>
